.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Rubik';
}

.welcome-right {
  width: 100%;
  height: 100%;
  background-color: #e6ecf0;
}

.welcome-right-header {
  color: #0f3447;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 5% 0px 0px 0px;
}

.welcome-right-content {
  height: 400px;
  width: 500px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: auto;
  background-color: #0f3447;
}

.welcome-right-content-forms {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 0px 0px 0px;
}

.welcome-right-content-forms-content-text {
  color: #fff;
  font-family: Rubik;
}

.welcome-right-input {
  font-family: rubik;
  height: 40px;
  width: 75%;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: 25px;
  margin: auto;
}

.welcome-right-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.welcome-right-bottom-text {
  color: #fff;
  margin: 30px 0px 0px 55px;
  font-size: 18px;
  text-decoration: underline;
  height: 40px;
}

.welcome-right-bottom-text-span {
  cursor: pointer;
}

.welcome-right-bottom-button {
  font-size: 18px;
  height: 40px;
  width: 100px;
  background: transparent;
  border-radius: 15px;
  color: white;
  margin: 20px 60px 0px 0px;
  cursor: pointer;
  outline: none;
}
