.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Rubik';
}

.welcome-right {
  width: 100%;
  height: 100%;
  background-color: #e6ecf0;
}

.welcome-right-header {
  color: #0f3447;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 5% 0px 0px 0px;
}

.welcome-right-content {
  height: 400px;
  width: 500px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: auto;
  background-color: #0f3447;
}

.welcome-right-content-forms {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 0px 0px 0px;
}

.welcome-right-content-forms-content-text {
  color: #fff;
  font-family: Rubik;
}

.welcome-right-input {
  font-family: rubik;
  height: 40px;
  width: 75%;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: 25px;
  margin: auto;
}

.welcome-right-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.welcome-right-bottom-text {
  color: #fff;
  margin: 30px 0px 0px 55px;
  font-size: 18px;
  text-decoration: underline;
  height: 40px;
}

.welcome-right-bottom-text-span {
  cursor: pointer;
}

.welcome-right-bottom-button {
  font-size: 18px;
  height: 40px;
  width: 100px;
  background: transparent;
  border-radius: 15px;
  color: white;
  margin: 20px 60px 0px 0px;
  cursor: pointer;
  outline: none;
}

.modal-mobile-number-otp-container {
  padding: 20px;
  height: 80%;
  text-align: center;
  position: relative;
}

.modal-mobile-number-otp {
  border: none;
  border-bottom: 1px solid black;
  width: 32%;
  margin-top: 120px;
  text-align: center;
  min-width: 200px;
  outline: none;
  font-size: 30px;
}

.modal-button-container {
  bottom: 15px;
  right: 35px;
  width: 300px;
  position: absolute;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.modal-button {
  background-color: #0f3447;
  color: #fff;
  border: 1px solid black;
  width: 140px;
  border-radius: 20px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .welcome-right-content {
    height: 350px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: unset;
    margin: auto;
    background-color: #0f3447;
  }

  .welcome-right-input {
    font-family: rubik;
    height: 40px;
    width: 75%;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 18px;
    margin: auto;
  }

  .welcome-right-bottom-button {
    font-size: 18px;
    height: 40px;
    width: 100px;
    background: transparent;
    border-radius: 15px;
    color: white;
    margin: 13px 29px 0px 0px;
    cursor: pointer;
    outline: none;
  }

  .welcome-right-bottom-text {
    color: #fff;
    margin: 24px 0px 0px 32px;
    font-size: 14px;
    text-decoration: underline;
    height: 40px;
  }

  .welcome-right-header-text {
    font-size: 32px;
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;
    height: 80px;
  }
}
