.admin-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 46px);
}

.admin-dashboard-container {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px -1px 8px 2px #ccc;
}

.admin-dashboard-header {
  font-size: 22px;
  font-weight: 400;
  margin: 25px 0 0 25px;
}

.order-container {
  padding: 25px 0 10px 25px;
  display: flex;
  border-bottom: 1px solid gray;
}

.all-orders-container {
  overflow: auto;
  height: calc(100% - 110px);
}

.order-from {
  width: 40%;
  display: flex;
  align-items: center;
}

.orders-container {
  width: 60%;
}

.order-unit {
  padding: 2px;
}

.dashboard-modal-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-modal-content {
  position: relative;
  height: 500px;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.dashboard-modal-header {
  height: 60px;
  display: flex;
  border-bottom: 1px solid gainsboro;
  align-items: center;
}

.dashboard-modal-header-text {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 30px 0px;
}

.admin-buttons {
  display: flex;
  padding: 7px 0px;
}

.admin-add-order-button:hover {
  background-color: #fff;
  color: #0f3447;
}

.admin-add-order-button {
  background-color: #0f3447;
  color: #fff;
  border: 1px solid black;
  width: 140px;
  border-radius: 20px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RUbik;
  cursor: pointer;
}

.dashboard-modal-menu {
  padding: 25px 0px 0px 30px;
  height: calc(100% - 145px);
  overflow: auto;
}

.dashboard-modal-menu-list {
  font-size: 18px;
}

.dashboard-modal-menu-input {
  height: 60px;
  display: flex;
}

.dashboard-modal-menu-item {
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}

.dashboard-modal-menu-item-price {
  width: 50%;
  display: flex;
}

.dashboard-modal-menu-item-name {
  width: 50%;
}

.dashboard-modal-menu-item-price-label {
  width: 40%;
}

.menu-input-name {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 22px;
  padding: 5px 0px 0px 2px;
  width: 70%;
}

.menu-input-price {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 22px;
  padding: 5px 0px 0px 2px;
  width: 60%;
  margin-left: 30px;
}

.dashboard-modal-menu-add-icon {
  margin: 0px 15px 20px 10px;
  cursor: pointer;
}

.admin-edit-menu-button:hover {
  background-color: #fff;
  color: #0f3447;
}

.admin-edit-menu-button {
  background-color: #0f3447;
  color: #fff;
  border: 1px solid black;
  width: 140px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  font-family: RUbik;
  cursor: pointer;
}

.admin-edit-menu-button-container {
  display: flex;
  justify-content: flex-end;
}
