body {
  margin: 0;
  background-color: #7fa4cb;
  font-family: Roboto;
}

.App {
  display: flex;
  height: 100vh;
}

.order-container {
  margin: auto;
  align-self: center;
  padding: 10px;
  height: 500px;
  width: 800px;
}
